// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;

$primary: #c24a5f;
$secondary: #993a4b;
$black: #1c1c1c;
$dark-gray: #a6a6a6;
$light-gray: #ebebeb;
$white: #fafafa;

$shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
