// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;

$primary: #c24a54;
$secondary: #803137;
$black: #331a1c;
$light-red: hsl(355, 50%, 90%);
$dark-gray: #b3b2af;
$light-gray: #f2f1ed;
$white: #faf9f5;
$trans-white: rgba(250, 250, 250, 0.8);
$trans-black: rgba(38, 38, 37, 0.6);

$shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
$dark-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0);
