.account {
  max-width: 80%;
  width: 80%;
  padding: 32px;
  padding-left: 5%;
  color: $secondary;
  .icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
  h1 {
    @include flex(flex-start, flex-end);
    .icon {
      width: 64px;
      height: 64px;
    }
  }
  .profile {
    display: grid;
    gap: 8px;
    .profile-head {
      @include lil-container(8px, 8px);
      @include flex(flex-start, space-between);
      gap: 16px;
      .image {
        position: relative;
        height: 256px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        box-shadow: $shadow;
        img {
          height: 100%;
          width: 100%;
        }
        .in-shadow {
          box-shadow: inset 0 0 6px 0px $trans-black;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .desc {
        flex-grow: 1;
        padding-top: 16px;
        @include flex(space-between, space-between);
        flex-direction: column;
        h2 {
          color: $primary;
        }
        .attr {
          display: inline-grid;
          grid-template-columns: 4fr 3fr;
          gap: 4px;
          padding: 4px 0;
          p {
            svg {
              padding-right: 4px;
            }
          }
        }
        .attr > {
          * {
            @include flex(flex-end, flex-start);
            flex-direction: column;
          }
        }
      }
      .btn {
        align-self: flex-start;
      }
    }

    .all-imgs {
      @include lil-container(4px, 4px);
      gap: 8px;
    }
  }
}

.waiters {
  display: grid;
  gap: 32px;
  .sort {
    @include flex(flex-start);
    gap: 8px;
  }
}
