.home {
  margin: 32px auto;
  h1 {
    margin: 32px 0 8px 0 !important;
  }
}

.genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  .card-category {
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: $shadow;
    border-radius: 5px;
    box-shadow: $shadow;
  }
}
.cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  .card-category {
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 28px;
    font-weight: bold;
    text-shadow: $shadow;
    border-radius: 5px;
    box-shadow: $shadow;
  }
}
