.show-body {
  width: 50%;
  margin: 16px auto;
  .info {
    margin: 8px 0;
    @include flex(center, flex-start);
    gap: 16px;
    .carousel {
      width: 100%;
      display: grid;
      gap: 8px;
    }
    .carousel > {
      img {
        height: 400px;
        width: 100%;
      }
      .all-imgs {
        @include flex(flex-start, center);
        gap: 8px;
        img {
          box-shadow: $shadow;
          width: 64px;
          height: 64px;
          object-fit: cover;
        }
      }
    }

    .show-attr {
      display: grid;
      width: 100%;
      gap: 8px;
      .name {
        border-radius: $border-radius;
        box-shadow: $shadow;
        @include contain-text(2);
      }

      .apply {
        @include lil-container(12px, 48px);
        .dates-pick {
          @include flex;
          gap: 16px;
          .date-pick {
            @include flex;
            * {
              @include reset-spacing;
            }
          }
        }

        .form-label {
          display: none;
        }
      }
    }
  }
}

.attr-card {
  @include lil-container;
  display: grid;
  gap: 8px;
  p {
    svg {
      padding-right: 4px;
    }
  }
}

.summary {
  @include lil-container;
  h3 {
    color: $primary;
  }
  p {
    color: $black;
  }
}
