.show-body {
  width: 50%;
  margin: 16px auto;
  .info {
    margin: 8px 0;
    @include flex(center, flex-start);
    gap: 16px;
    .carousel {
      display: grid;
      gap: 16px;
    }

    .show-attr {
      display: grid;
      width: 100%;
      gap: 8px;
      .name {
        border-radius: $border-radius;
        box-shadow: $shadow;
        @include contain-text(2);
      }

      .apply {
        @include lil-container(12px, 48px);
        .dates-pick {
          @include flex;
          gap: 16px;
          .date-pick {
            @include flex;
            * {
              @include reset-spacing;
            }
          }
        }

        .form-label {
          display: none;
        }
      }
    }
  }
}

.attr-card {
  @include lil-container;
  display: grid;
  gap: 8px;
  p {
    svg {
      padding-right: 4px;
    }
  }
}

.summary {
  @include lil-container;
  h3 {
    color: $primary;
  }
  p {
    color: $black;
  }
}

.show-legs {
  width: 100%;
  min-height: 40px;
  @include flex;
  flex-direction: column;
  @include color-custom($white, $secondary);
  padding: 32px;
}

.lil-cards {
  width: 100%;
  @include flex;
  gap: 32px;
  margin: 8px;
  .card {
    background: $primary;
    // box-shadow: none;
    width: 240px;
    min-width: 200px;
    * {
      padding: 0;
    }
    .card-body {
      padding: 2px 8px 8px 8px;
    }
    .name {
      @include color-custom($white);
    }
    .card-foot {
      @include flex(flex-end, center);
    }
    .short-summary,
    .type {
      display: none;
    }
    .icon > {
      * {
        fill: $white;
      }
    }
  }
}

.main-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: $shadow;

  img {
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
  }
  .arrows {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
    @include flex(space-between, center);
    box-shadow: $shadow;
    #mirror {
      transform: rotate(180deg);
      &:active {
        box-shadow: $dark-shadow;
        transform: translateY(2px) rotate(180deg);
      }
    }
  }
}

.all-imgs {
  @include flex(flex-start, center);
  gap: 16px;

  .small-img {
    box-shadow: $shadow;
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: $border-radius;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }
    .gradient {
      border-radius: $border-radius;
    }
    .bar {
      width: 100%;
      height: 4px;
      border-radius: $border-radius;
      background: $secondary;
      margin-top: 4px;
    }
  }
}
