<%# <img src="app/assets/images/icons/Paper.svg" alt=""> %>
<%# <h1>Applications</h1> %>
<div class="d-none">
  <% if current_user.waiter? %>
    <%= render 'waiter_application' %>
  <% else %>
    <%= render 'resto_application' %>
  <% end %>
</div>
