<div data-controller="chatbox-view">
  <ul>
    <% chatrooms.each do |chatroom| %>
      <div data-action="click->chatbox-view#showChat">
        <li><%= chatroom.name %></li>
      </div>
    <div data-chatbox-view-target="chatbox" class="d-none">
      <%= render 'shared/chatbox', chatroom: chatroom %>
    </div>
    <% end %>
  </ul>
</div>
