<div class="pannel">
  <%= link_to  root_path, class: "logo" do %>
      <%= render 'icons/logo'%>
  <% end %>
  <div class="tab active"><%= render 'icons/profile' %>Profile</div>
  <div class="tab"><%= render 'icons/application' %>Application</div>
</div>
