<div class="d-none" data-controller="edit">
  <% if current_user.waiter? %>
    <%= render "profile_waiter" %>
    <%= render 'formEditWaiter'%>
  <% else %>
    <%= render "profile_resto" %>
    <%= render 'formEditResto'%>
  <% end %>
</div>
