<<<<<<< HEAD
=======
<div class="d-none waiters">
  <h1><%= render "icons/profile" %>Waiters</h1>
  <% @waiters.each do |waiter|%>
    <%= render "shared/waiterCard", wait: waiter %>
  <% end %>
</div>
>>>>>>> 3847fd2756117c80b4b9cf294e97d766fba12587
