
  <div class="btn btn-light">
      <%= link_to 'View Chats', chatrooms_path %>
  </div>

  <%# <div data-chatroom-subscription-target="chatbox"> %>
   <%#= render './shared/_chatbox' %>
  <%# </div> %>
