<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<div class="container">
  <div class="form-center">
    <%= render "form", user: @user %>
    <%= link_to "BACK", '/profile' %>
  </div>
</div>
