<h1>USERS SHOW/PROFILE PAGE</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= link_to 'EDIT YOUR PROFILE', '/profile/edit' %>

<% @applications.each do |application| %>
  <ul>
    <li>
      <h3>
        <%= application.id %> <%= application.status %>
      </h3>
    </li>

  <%= link_to "Approve", approve_path(application), method: 'patch', data: { confirm: "Are you sure you want to approve"}, class:"btn btn-primary" %>
  </ul>

<% end %>
