<%# REMINDER: CAN USE METHODS: %>
<%# created_applications, applications_including_restaurant, applications_including_waiter
waiter_applications_received, restaurant_applications_received, waiter?, restaurant? %>
<div class="d-flex">
  <%= render 'pannel' %>
  <%= render 'profile' %>
  <%= render 'application' %>
</div>
