<div class="banner" style="background-color: #803137 ">
  <div class="container">
    <h1>Don't wait Start waiting</h1>

      <%= render 'shared/searchform' %>

    <div>
      <a class="btn btn-light" href="#">Log-in</a>
      <a class="btn btn-dark" href="#">Sign up</a>
    </div>
  </div>

  <%= image_tag("banner.svg") %>

</div>
