
<div class="capsule" data-action="click->capsule#toggle <%= action %>" data-controller="capsule" data-capsule-target="capsule" data-capsule-replacement-value="<%= value_2 %>" >
  <div class="btn-capsule"></div>
  <a><%= value %></a>
</div>
