<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a restaurant"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
