<h1>WAITERS INDEX</h1>
<p>Find me in app/views/waiters/index.html.erb</p>

<%= link_to 'HOME', root_path %>

<ul>
  <% @waiters.each do |waiter|%>
    <li>
      <%= link_to 'SHOW', waiter_path(waiter) %>
      <%= waiter.first_name %>
    </li>
  <% end %>
</ul>
