<%# REMINDER: CAN USE METHODS: %>
<%# created_applications, applications_including_restaurant, applications_including_waiter
waiter_applications_received, restaurant_applications_received, waiter?, restaurant? %>

<h1>WAITERS INDEX</h1>
<%# <p>Find me in app/views/waiters/index.html.erb</p> %>

<%#= link_to 'HOME', root_path, class:"btn btn-primary" %>

<ul>
  <% @waiters.each do |waiter|%>
    <li>
      <%= link_to 'SHOW', waiter_path(waiter) %>
      <%= waiter.first_name %>
    </li>
  <% end %>
</ul>
