<h1>WAITIST HOME PAGE</h1>

<p>Find me in app/views/pages/home.html.erb</p>


  <%= link_to  'RESTAURANTS INDEX', restaurants_path, class:"btn btn-primary"  %>


  <%= link_to 'WAITERS INDEX', waiters_path, class:"btn btn-primary" %>
