<h1>WAITIST HOME PAGE</h1>

<p>Find me in app/views/pages/home.html.erb</p>


  <%= link_to  'RESTAURANTS INDEX', restaurants_path  %>


  <%= link_to 'WAITERS INDEX', waiters_path, class:"btn btn-light" %>
  <div class="btn btn-primary">Button</div>
  <div class="btn btn-light">Button</div>
  <div class="btn btn-dark">Button</div>
  <div class="btn btn-gray">Button</div>
  <div class="btn-search">Button</div>
<%# <div class="capsule">
  <div class="capsule-empty">Button</div>
  <div class="button-capsule">Capsule</div>
</div> %>
