  <%= render 'shared/banner'  %>


    <h1 class="text-center">Wait here</h1>
    <div class="home">
      <div class="container">
        <% @restaurants.each do |restaurant|%>
          <%= render 'shared/card', resto: restaurant %>
        <% end %>
      </div>
    </div>
