<%# REMINDER: CAN USE METHODS: %>
<%# created_applications, applications_including_restaurant, applications_including_waiter
waiter_applications_received, restaurant_applications_received, waiter?, restaurant? %>

<h1>RESTAURANT SHOW PAGE</h1>
<%= @restaurant.restaurant_name %>

<%= link_to 'HOME', root_path %>
<%= link_to 'BACK', restaurants_path %>

<%= link_to 'APPLY NOW', apply_path, method: 'create', data: { confirm: "Are you sure you want to apply"} %>
