.application {
  // overflow: hidden;

  @include flex(flex-start, flex-start);
  flex-wrap: wrap;
  width: 100%;
  gap: 32px;
  height: 100%;
  .cards {
    flex-grow: 1;
    display: grid;
    gap: 8px;
    padding: 16px 0;
  }
}
