.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 480px;
  img {
    justify-self: flex-end;
    align-self: center;
    margin-right: 96px;
  }
  .container {
      @include flex(center, flex-start);
      flex-direction: column;
      margin-left: 128px;
      height: auto;
      background: $white;
      width: 446px;
      padding: 52px;
      gap: 16px;
      h1 {
        color: $secondary;
      }
      .search {
        width: 100%;
        .input {
          width: 100%;
        }
      }
    }
  }


#cover1 {
  padding-bottom: 20px;
}
