@mixin btn-custom($color, $back, $border) {
  color: $color;
  background: $back;
  border: 2px solid $border;
}

.btn {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 37px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: $shadow;
  transition: 100ms;
  line-height: 20px;
  &:hover {
    transition: 300ms;
  }
  &:active {
    box-shadow: $dark-shadow;
  }
}

.btn-primary {
  @include btn-custom($white, $primary, $secondary);
  &:hover {
    @include btn-custom($white, $secondary, $secondary);
  }
}

.btn-light {
  @include btn-custom($secondary, $white, $secondary);
  &:hover {
    @include btn-custom($secondary, $white, $white);
  }
}

.btn-dark {
  @include btn-custom($white, $secondary, $secondary);
  &:hover {
    @include btn-custom($white, $black, $black);
  }
}

.btn-gray {
  @include btn-custom($dark-gray, $white, $dark-gray);
  &:checked {
    @include btn-custom($dark-gray, $white, $white);
  }
}

.btn-search {
  width: 40px;
  height: 40px;
  @include btn-custom($secondary, $primary, $secondary);
}

.capsule {
  display: flex;
  border: 2px solid $dark-gray;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 37px;
  font-size: 16px;
}

.capsule-empty {
  color: $white;
  background: $dark-gray;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 37px;
  font-size: 16px;
}

.button-capsule {
  color: $white;
  background: $dark-gray;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 37px;
  font-size: 16px;
}
