.btn {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 50%;
  font-size: 16px;
}

.btn-primary {
  color: $white;
  background: $primary;
  border: 2px solid $secondary;
  font-weight: 600;
  box-shadow: $shadow;
}
