.btn {
  @include button;
}

.btn-primary {
  @include color-custom($white, $primary, $secondary);
  &:hover {
    @include color-custom($white, $secondary, $secondary);
  }
}

.btn-light {
  @include color-custom($secondary, $white, $secondary);
  &:hover {
    @include color-custom($secondary, $white, $white);
  }
}

.btn-dark {
  @include color-custom($white, $secondary, $secondary);
  &:hover {
    @include color-custom($white, $black, $black);
  }
}

.btn-gray {
  @include color-custom($dark-gray, $white, $dark-gray);
  &:hover {
    @include color-custom($dark-gray, $white, $white);
  }
}

.btn-search {
  min-width: 40px;
  width: 40px;
  height: 40px;
  @include color-custom($secondary, $primary, $secondary);
}

.capsule {
  position: relative;
  @include flex;
  @include color-custom($white, $dark-gray, $dark-gray);
  @include button;
  padding: 2px;
  a {
    padding: 0 4px;
  }
  .btn-capsule {
    @include color-custom($white, $white);
    @include button;
    padding: 0;
    width: 34px;
    height: 34px;
    box-shadow: none;
  }
}

.toggle {
  flex-direction: row-reverse;
  @include color-custom($white, $primary, $primary);
}

.arrow {
  @include flex;
  width: 40px;
  aspect-ratio: 1 / 1;
  @include color-custom($secondary, $trans-white, $secondary);
  border-radius: 50%;
  margin: 0 16px;
  cursor: pointer;
  &:hover {
    background: white;
  }
  &:active {
    box-shadow: $dark-shadow;
    transform: translateY(2px);
  }
}
