.flatpickr-calendar {
  border-radius: $border-radius;
  @include color-custom($dark-gray, $white, $light-gray);
  box-shadow: $shadow;
  .flatpickr-days {
    @include color-custom($dark-gray, $white, $light-gray);
  }
  .flatpickr-current-month {
    color: $primary;
    font-weight: 400;
  }
}

.calendar-heading {
  padding: 8px 0;
  @include flex(flex-start);
  gap: 8px;
}

.today {
  background: $light-red !important;
  border-bottom: 2px solid $secondary !important;
}

.meeting {
  @include button(6px, 2px);
  @include color-custom($white, $primary);
  overflow: hidden;
  width: 100%;
  border-radius: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 4px;
}

.color_0 {
  background: $primary;
}

.color_1 {
  background: $secondary;
}

.color_2 {
  background: $black;
}

.color_3 {
  background: $dark-gray;
}

.color_4 {
  background: $trans-black;
}

.day {
  width: 100%;
}
