.card {
  overflow: hidden;
  background: $white;
  box-shadow: $shadow;
  border: none;
  border-radius: $border-radius;
  width: 320px;
  min-width: 240px;
  gap: 8px;
  .card-head {
    height: 240px;
    position: relative;
    img {
      object-fit: cover;
      border-radius: $border-radius $border-radius 0 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .rating {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
  .stroke-p {
    width: 24px;
    height: 24px;
  }
}

.rating {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $white;
  border: 2px solid $secondary;
  @include flex;
  h3 {
    color: $secondary;
    margin: 0;
  }
}

.card-body {
  height: fit-content;
  padding: 0;
  .desc {
    padding: 8px 16px;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 2px;
    color: $black;
    .short-summary {
      color: $dark-gray;
      background: $light-gray;
      border-top: 1.5px solid $dark-gray;
      border-bottom: 1.5px solid $dark-gray;
      font-style: italic;
      padding: 4px 8px;
      @include contain-text(2);
      &::before {
        content: "''";
      }
      &::after {
        content: "''";
      }
    }
  }
}

.card-foot {
  @include flex(space-between, center);
  gap: 12px;
  width: 100%;
  height: fit-content;
  .icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}

.rate {
  @include flex;
}

.location {
  @include contain-text(1);
}

.name {
  width: 100%;
  padding: 12px 8px 4px 8px;
  @include texture_two;
  color: $white;
  @include contain-text(1);
}

.waiter-card {
  position: relative;
  min-width: 480px;
  display: grid;
  max-width: 100%;
  gap: 4px;
  .top {
    @include flex(space-between, flex-start);
    gap: 16px;
    background: $white;
    box-shadow: $shadow;
    border-radius: $border-radius;

    .card-head {
      height: 164px;
      position: relative;
      img {
        border-radius: $border-radius 0 0 $border-radius;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        height: 100%;
      }
      .rating {
        position: absolute;
        top: 8px;
        left: 8px;
      }
    }
    .card-body {
      height: 100%;
      @include flex(space-between, space-between);
      flex-direction: column;
      .mid {
        flex-grow: 1;
        padding: 4px 8px 8px 0px;
        padding-right: 12px;
        @include flex(space-between, space-between);

        .btn,
        .bottom {
          align-self: flex-end;
          @include flex(flex-start, flex-end);
          gap: 8px;
          label {
            display: none;
          }
          h3 {
            color: $primary;
          }
          .consider {
            display: grid;
            gap: 4px;
            width: fit-content;
            text-align: center;
            .btn {
              text-align: center;
              margin: 0 auto;
            }
          }
        }
        .card-tail {
          @include flex(flex-end, flex-end);
          flex-direction: column;
          gap: 4px;
          color: $primary;
          .review {
            color: $dark-gray;
            font-style: italic;
          }
        }
      }
      .attr {
        display: grid;
        gap: 2px;
        align-self: flex-start;
        width: fit-content;
        .icon {
          padding-right: 4px;
        }
        .column {
          span {
            color: $dark-gray;
          }
        }
      }
    }
  }
  .rotate {
    transform: rotate(90deg) !important;
  }
  .arrow {
    transition: 200ms;
    transform: none;
    margin: 0 4px;
  }
  .summary-tab {
    @include flex;
    gap: 4px;
    width: fit-content;
  }
  .summary {
    position: relative;
    z-index: 0;
  }
}

.card-category {
  a {
    color: $white;
  }
}
