.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  color: $white;
  position: absolute;
  // bottom: 0;
  width: 100%;
  height: 128px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #c24a5f;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #c24a5f;
}
