.search {
  display: flex;
}

.input {
  text-decoration: none;
  color: $dark-gray !important;
  background: $light-gray;
  font-weight: 500;
  padding: 8px 14px;
  line-height: 21px !important;
  border: 1.5px solid $dark-gray;
}

#application_start_date,
#application_end_date {
  text-decoration: none;
  color: $dark-gray !important;
  background: $light-gray;
  font-weight: 500;
  padding: 8px 14px;
  line-height: 21px !important;
  border: 1.5px solid $dark-gray;
  border-radius: 0;
}

#new_application {
  display: grid;
  margin: 0 auto;
  gap: 8px;

  .container {
    @include flex(center, flex-start);
    align-items: stretch;
    flex-direction: column;
    height: auto;
    background: $white;
    width: 446px;
    padding: 52px;
    gap: 16px;
    h1 {
      color: $secondary;
    }
    .search {
      width: 100%;
      .input {
        width: 100%;
      }
    }
  }
  .signup {
    background: $primary;
    h2 {
      color: $secondary;
      align-self: center;
    }
  }
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  box-shadow: none;
  background: $light-gray;
  border: 1px solid #ced4da;
  line-height: 1.5;
}
.signup{
  background: $primary;
  h2 {
    color: $secondary;
    align-self: center;
  }
  .container {
    @include flex(center, flex-start);
    align-items: stretch;
    flex-direction: column;
    height: auto;
    background: $white;
    width: 446px;
    padding: 52px;
    gap: 16px;
    h1 {
      color: $secondary;
    }
    .search {
      width: 100%;
      .input {
        width: 100%;
      }
    }
  }
}
