.search {
  display: flex;
}

.input {
  text-decoration: none;
  color: $dark-gray !important;
  background: $light-gray;
  font-weight: 600;
  padding: 8px 14px;
  line-height: 21px !important;
  border: 1.5px solid $dark-gray;
}
