.search {
  display: flex;
}

.input {
  text-decoration: none;
  color: $dark-gray !important;
  background: $light-gray;
  font-weight: 500;
  padding: 8px 14px;
  line-height: 21px !important;
  border: 1.5px solid $dark-gray;
}

#application_start_date,
#application_end_date {
  text-decoration: none;
  color: $dark-gray !important;
  background: $light-gray;
  font-weight: 500;
  padding: 8px 14px;
  line-height: 21px !important;
  border: 1.5px solid $dark-gray;
  border-radius: 0;
}

#new_application {
  display: grid;
  margin: 0 auto;
  gap: 8px;
}
