.icon > {
  position: relative;

  * {
    fill: $primary;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}

.icon-white {
  * {
    fill: $white;
  }
}

.stroke > {
  * {
    stroke: $secondary;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}

.stroke-p > {
  * {
    stroke: $primary;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}

.no-fill {
  fill: none !important;
}
