.modal-dialog {
  position: relative;
  z-index: 20;
}

.modal-backdrop {
  // display: none;
}

.modal-body {
  color: $dark-gray;
  background-color: $light-gray;
}

.modal-footer {
  background-color: $light-gray;
  border-top: none;
  gap: 8px;
  .btn {
    margin: 0;
  }
}
