nav {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  box-shadow: $shadow;
  padding: 0 32px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  width: 64px;
  path {
    fill: $primary;
  }
  polygon {
    fill: $primary;
  }
}
