nav {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  box-shadow: $shadow;
  padding: 0 32px;
  .logo {
    @include flex;
    height: 100%;
    width: 80px;
  }
}

.nav-links {
  display: flex;
  align-items: center;
}
